<!-- <app-menu> </app-menu> -->
<!-- ชื่อหน้าตาราง -->
<div class="row report">
    <h3 style="color: #0AAE9D;">ผลการขายเดือนนี้</h3>
</div>
<!-- ส่วนหัวข้อ -->
<div class="Quotation">
    <div style="font-weight: bold; " class="row d-flex justify-content-center">
        <a>Quotation</a>
        <p class="text"></p>

    </div>

    <div style="font-weight: bold; color: #B3B3B3; padding-right: 10vw;" class="">Sale Order</div>
</div>

<!-- ส่วนตารางsale -->
<div class="Maincelltable">
    <div class="Saledata_1">
        <div class="imgsale"> <img src="../../assets/photo/may.png" alt="">
            <b>K.may</b>
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
    </div>
    <hr>
    <div class=" Saledata_2">
        <div class=""> <img src="../../assets/photo/aor.png" alt="" style="padding-bottom: 0.5vh;">
            <b style="padding-left: 3.5vh;">K.Aor</b>
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
    </div>
    <hr>
    <div class=" Saledata_3">
        <div class=""> <img src="../../assets/photo/por.png" alt="">
            <b>K.Por</b>
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
    </div>
    <hr>
    <div class=" Saledata_4">
        <div class=""> <img src="../../assets/photo/jip.png" alt="">
            <b>K.Jib</b>
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
        <div class="sa_amount">
            300K.l2
        </div>
    </div>
    <hr>
</div>