* {
   margin: 0px;
   padding: 0px;
 }

.grid{
   margin-left: 2%;
   margin-right: 2%;
   width: 96%;
   height: 80vh;
   /* position: absolute;
   width: 100%;
   height: 82%;
   padding-left: 20px;
   padding-right: 20px; */
}

 

.grid2{
   width: 100%;
   height: 65vh;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 15px;
}
.grid3{
   width: 98%;
   height: 60vh;  
}

.searchct{ 
   margin-top: 10px;
   margin-bottom: 20px;
   text-align: center;
}

.spsearch{
   /* padding-right: 20px; */
   /* padding-right: 2vw; */
   color: rgba(134, 134, 134, 0.988);
}

.searchbox{
   
   background: linear-gradient( rgb(230, 230, 230),rgb(240, 240, 240),rgb(241, 241, 241),rgb(242, 242, 242),rgb(245, 245, 245), rgb(246, 246, 246));
   /* background-color: rgb(245, 245, 245); */
   border: none;
  /*  border-top: 1px solid rgb(199, 199, 199); */
   padding: 5px;
   padding-right: 50px;
   font-size: 14px;
   outline: none;
   width: 40%;
}

.iconsearch{
   position: absolute;
   font-weight: bold;
   color: rgba(134, 134, 134, 0.988);
   left: 59%;
   cursor: pointer;
   padding-top: 5px;
}

::placeholder{
   color: rgba(179, 179, 179, 0.988);
   font-size: 12px;
}

h4{
   font-size: 28px;
   font-weight: bold;
   padding-left: 20px;
   padding-top: 10px;
}

.imgbtninsert{
   float: right; 
   cursor: pointer;
   /* position: absolute;
   margin-left: 318px; */
}

.imgselect{
   width: 280px;
   height: 260px;
}

.mdinput{
   width: 100%;
   /* background-color: rgb(245, 245, 245); */
   background: linear-gradient( rgb(230, 230, 230),rgb(240, 240, 240),rgb(241, 241, 241),rgb(242, 242, 242),rgb(245, 245, 245), rgb(246, 246, 246));
   border: none;
   /* border-top: 1px solid rgb(199, 199, 199); */
   font-size: 12px;
   padding: 7px;
   outline: none;
   margin-bottom: 10px;
}

.labeltxt{
   font-weight: bold;
   padding-top: 5px;
   padding-bottom: 5px;
}

.mdbtnsave{
   width: 100%;
   background-color: rgb(0, 70, 130);
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
   margin-top: 25px;
   margin-bottom: 20px;
   font-weight: bold;
   
}

.mdbtnsave:hover{
   background-color: rgb(1, 45, 83);;
   color: white;
   
   
}

.imgclose{
   cursor: pointer;
   float: right;
   padding: 20px;
}

.btnnext{
   width: 100px;
   padding: 6px;
   background-color: #004682;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   border: none;
   float: right;
   margin-top: 30px;
   
}

.socode{
   float: right; 
   padding-top: 45px;
   font-weight: bold;
   font-size: 12px;
}

.date{
   font-size: 12px;
   color: #D1D1D1;
   float: right;
}

.fontp{
   font-size: 14px;
   font-weight: bold;

}

.box{
   width: 100%; 
   /* margin-left: 5px; */
}

.detailremark{
   font-size: 12px;
   color: #D1D1D1;
   padding-top: 10px;
   margin-left: 10px;
}

.userreq{
   font-size: 12px;
   font-weight: bold;
   float: right;
}

.fonth{
   font-size: 34px;
   font-weight: bold;
   padding-left: 25px;
   padding-top: 25px;
}

.fontmoney{
   font-size: 14px;
   float: right;
}

.iconsearch2{
   position: absolute;
   font-weight: bold;
   color: rgba(134, 134, 134, 0.988);
   left: 68%;
   cursor: pointer;
   padding-top: 5px;
}

.iconreq{
   position: absolute;
   left: 21%;
   margin-top: 5px;
   color: #999999;
   
}